<?xml version="1.0" encoding="utf-8"?>
<settings>
	<!-- sets the html before and after navigation links as well as separator for links -->
	<!-- escape html characters (ex: replace "<" with "&lt;") -->

	<!-- If you are using centerLayoutLeftNav.css, you need to added "&lt;br /&gt;" -->
	<formatting
		left_start=""
		left_end=""
		left_separator="&lt;br /&gt;"
    left_separator_topnav=" "
		footer_start=""
		footer_end=""
		footer_separator=" | " />

	<links>
		<!-- navigation links
		<link					- name of link
			text				- text displayed as link
			tooltip				- hover text / tooltip
			target				- page to navigate to when clicked
			show_left			- true/false display in left nav
			show_footer			- true/false display in footer nav
			role				- string, role name to determine if visible or no. Masterpage uses it to build nav. Use Session.Item("PaxRole") to tell the Masterpage what role its for. _Master line 152
			registered			- "show" to only display when registered; "hide" to only display when not registered; otherwise always displays
			type				- assign value (newwindow) to specify if event should open a new browser window. Used for pdf include files.
		/>

		all attribute names must be lower case
		node names will be used in the ID's of generated links to make test scripts easier, so use meaningful and valid names
		-->
		<Home
			text="Home"
			tooltip="Home"
			target="home.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<ProgramOverview
			text="Program Overview"
			tooltip="Program Overview"
			target="Destination.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<ScheduleOfEvents
			text="Schedule of Events"
			tooltip="Schedule of Events"
			target="Schedule.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<ActivityDescriptions
			text="Activity Descriptions"
			tooltip="Activity Descriptions"
			target="Activities.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<FAQ
			text="FAQ"
			tooltip="FAQ"
			target="FAQ.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<Register
			text="Register"
			tooltip="Register"
			target="PreRegistration.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="hide" />
		<ChangeProfile
			text="Change Profile"
			tooltip="Change Profile"
			target="ProfileInformation.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="show" />
		<ChangeRegistration
			text="Change Registration"
			tooltip="Change Registration"
			target="CommonTask.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="show" />
		<ChangePassword
			text="Change Password"
			tooltip="Change Password"
			target="ChangePassword.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<EventSummary
			text="View Event Summary"
			tooltip="View Event Summary"
			target="ReportViewer.aspx?ReportID=10132"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="show" />
		<Help
			text="Contact/Help"
			tooltip="Contact/Help"
			target="HelpSite.aspx"
			show_left="false"
			show_footer="true"
			role=""
			type=""
      class=""
			registered="always" />
		<Logout
			text="Log Out"
			tooltip="Log Out"
			target="Logout.aspx"
			show_left="false"
			show_footer="false"
			role=""
			type=""
      class=""
			registered="always" />
		<Privacy
			text="Privacy/Security Policies"
			tooltip="Privacy/Security Policies"
			target="Privacy.aspx"
			show_left="false"
			show_footer="true"
			role=""
			type=""
      class=""
			registered="always" />

	</links>
	<FeedbackLink>
		<Sendfeedback
	 Imageurl="~/images/icons/right_envelope.png"
	 text="Feedback"
	 tooltip="Feedback"
	 target="http://questionpro.com/t/CJHHjZExPIV"
	 show="true"
	role=""
	type="newwindow"
	class="navigation-old"
	registered="always" AddImage="false"/>
	</FeedbackLink>

	<!-- sets link for split navigation. any links listed here will appear in the upper right hand corner. -->
	<splitnav
		  ispageusingslitnav="true" />
	<!--formatting-->
	<splitformatting
		  link_separator=" | " />
	<splitnavlinks>
		<HomeTop
		  text="Home"
		  tooltip="Home"
		  target="home.aspx"
		  show_top="false"
		  role=""
		  type=""
		  class=""
		  registered="always" />
		<RegisterTop
				text="Register"
				tooltip="Register"
				target="PreRegistration.aspx"
				show_top="false"
				role=""
				type=""
		  class="splitnavlink"
				registered="hide" />
    <PersonalItineraryTop
        text="Open My Event Summary"
				tooltip="Personal Itinerary"
				target="ReportViewer.aspx?ReportID=10132"
				show_top="true"
				role=""
				type=""
		    class="splitnavlink"
				registered="show" />
		<ChangeRegistrationTop
				text="Change Registration"
				tooltip="Change Registration"
				target="CommonTask.aspx"
				show_top="false"
				role=""
				type=""
		  class="splitnavlink"
				registered="show" />
		<HelpTop
				text="Contact/Help"
				tooltip="Contact/Help"
				target="HelpSite.aspx"
				show_top="false"
				role=""
				type=""
		  class="splitnavlink"
				registered="always" />
		<LogoutTop
				text="Log Out"
				tooltip="Log Out"
				target="Logout.aspx"
				show_top="false"
				role=""
				type=""
		  class="splitnavlink"
				registered="show" />

	</splitnavlinks>
	<!-- sets the html before and after registration nav links as well as separator for links -->
	<!-- escape html characters (ex: replace "<" with "&lt;") -->
	<registration_formatting
		start="&lt;hr /&gt;"
		end="&lt;hr /&gt;"
		separator="" />
	<!-- we'll use css padding to space these links for now -->

	<!-- controls navigation dependencies, i.e. if at the "accommodations" level then
		 registration navigation links with values <= 3 (profile, transportation, accommodations)
		 will be active links, others will be labels	-->
	<registration_levels
		profile="1"
		transportation="2"
		accommodations="3"
		events="4"
		fees="5"
		taxinfo="6"
		final="7" />

	<registration_links>
		<!-- registration navigation links
		<link					- name of link
			text				- text displayed as link
			tooltip				- hover text / tooltip
			target				- page to navigate to when clicked
			level				- controls navigation dependencies via registration_levels settings
		/>

		all attribute names must be lower case
		-->

		<Profile
			text="Profile"
			tooltip="Profile"
			target="ProfileInformation.aspx"
			level="profile" />
		<Transportation
			text="Transportation"
			tooltip="Transportation"
			target="TransportationSelection.aspx"
			level="transportation" />
		<Accommodations
			text="  Accommodations"
			tooltip="Accommodations"
			target="Accommodations.aspx"
			level="accommodations" />
		<Events
			text="Events"
			tooltip="Events"
			target="Eventsclassic.aspx"
			level="events" />
		<Fees
			text="Fees"
			tooltip="Fees"
			target="Fees.aspx"
			level="fees" />
		<!--<TaxInformation
			text="Taxes"
			tooltip="Tax Information"
			target="TaxInfo.aspx"
			level="taxinfo" />-->
		<FinalizeRegistration
			text="Finalize"
			tooltip="Finalize Registration"
			target="ProfileInformation.aspx"
			level="final" />
	</registration_links>
</settings>
