<div class="modal fade" id="modalItinerary" tabindex="-1" aria-labelledby="itineraryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="itineraryModalLabel">View Itinerary &amp; Flight Status</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-2" placeholder="Enter Reservation Number"
                       id="ReservationNumber" aria-label="Reservation number">
                <input type="text" class="form-control" placeholder="Enter Traveler Last Name"
                       id="TravelerLastName" aria-label="Traveler last name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="viewItinerary">View Itinerary</button>
            </div>
        </div>
    </div>
</div>
