@page "/about"
@{
    ViewData["Title"] = "About ITA";
}

<h1>About ITA<br />
<small>International Travel Associates</small></h1>

<div class="row-light">
<div class="single-col-text">
<h2 class="text-center">With ITA, You're Traveling in Good Company</h2>
<p class="intro">Today's business travelers need more than airline tickets, hotel reservations and car rentals. They need the support of a full-service travel management company&mdash;a reliable business partner with the people, resources and technology to guarantee success. They need International Travel Associates.</p>
<p class="intro">ITA has developed this site with you in mind. We offer a web-based booking site and mobile app that are ready to help you book your flight online&mdash;easily and securely.</p>
<blockquote>
  <h3>Years of First-Hand Experience on a First-Name Basis</h3>
    <p>At ITA, our clients have worked with the same Travel Consultants for an average of 20 years. In fact, some of our associates have been with us longer than most other travel agencies have been in business. So, we&rsquo;re the people you can trust to get it right each time&mdash;and on every trip.</p>

    <h3>Quality You Can Expect, Results You Can See</h3>
    <p>We pride ourselves on being knowledgeable, responsible, dependable and flexible. It is our mission to understand your organization&rsquo;s needs, travel patterns and budget, as well as each individual&rsquo;s travel expectations. Our day-to-day procedures and technologies are put to use to ensure you receive the travel experience and cost you expect. And you won&rsquo;t be left in the dark&mdash;we&rsquo;ll keep you updated with a wide variety of travel management reports.</p>
    <p>
    We believe it&rsquo;s our job to handle your business&rsquo; travel requirements the way you would if you had the time and resources. Unlike most travel agencies, we don&rsquo;t sit around waiting for your call. We take the initiative to identify ways to lower your costs, improve service, and anticipate industry changes that could impact your business and your travelers. It&rsquo;s no wonder so many of our clients have been with ITA for an average of 20 years or more.</p>
  <h3>Security and Peace of Mind</h3>
    <p>The security features we offer to all our travelers ensure that you can have a worry-free trip:</p>
  <ul>
    <li>We know where every traveler is going each day and proactively monitor all conditions that could impact them.</li>
    <li>We require travelers to provide contact information, so that it&rsquo;s available to us and your company&rsquo;s authorized representatives 24/7.</li>
    <li>Our partnership with Bellum Global, a global security firm, allows us to monitor the safety of all our travelers, and we share updates and recommendations with our customers as we receive them.</li>
    <li>In the event of an emergency, our Business Continuation Plan can be fully integrated with your company&rsquo;s own BCP plan.</li>
  </ul>
  <p><em>International Travel Associates offers you 24/7 emergency travel assistance when you are on the road. To contact our emergency travel service outside of our office hours of 8:00 a.m. &ndash; 5:00 p.m. CST, Monday &ndash; Friday, <strong>call&nbsp;(888)&nbsp;567-9372</strong>.</em></p>
</blockquote>
</div>
</div>
