@page "/closed"
@model FlyITA.Web.Pages.ClosedModel
@{
    ViewData["Title"] = "Registration Closed";
}

<div class="container py-4">
    <h1>Registration Closed</h1>
    <p>@Model.ClosedMessage</p>
    <p><a href="/">Return to Home</a></p>
</div>
