@page "/contact"
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact us<br />
  <small>We're Here to Help</small></h1>
<div class="row-light">
  <div class="single-col-text">
    <p>Monday &ndash; Friday, 8:00 a.m. &ndash; 5:00 p.m. Central Time</p>
    <h3>Corporate Travel</h3>
    <p>Toll-free: (800) 732-9402<br>
      Reservations: (515) 326-3851<br>
    Email: <a href="mailto:travelrequest@@itagroup.com">travelrequest@@itagroup.com</a></p>
    <h3>Leisure Travel</h3>
    <p>Toll-free: (800) 622-4099<br>
      Direct Dial: (515) 326-3852<br>
      Email: <a href="mailto:leisuretravel@@itagroup.com">leisuretravel@@itagroup.com</a></p>
    <h3>General Assistance</h3>
    <p>Call: (515) 326-3852</p>
    <h3>After-Hours Emergency Assistance</h3>
    <p>Call: (888) 567-9372<br>
      <em>This service is available in an emergency to all travelers and travel coordinators when our office is closed. Identify yourself and your company to the travel consultant.</em> <em>Use the ID code: D3E.</em></p>
</div>
  </div>
