@page "/error"
@model FlyITA.Web.Pages.ErrorModel
@{
    ViewData["Title"] = Model.ErrorTitle;
}

<div class="container py-4">
    <h1>@Model.ErrorTitle</h1>
    <p>@Model.ErrorMessage</p>
    @if (Model.IsNotFound)
    {
        <p><a href="/">Return to Home</a></p>
    }
</div>
