// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "jquery-ui.css";
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";
@import "plugin/animate.css";
@import "plugin/flexslider.css";
@import "plugin/owl.carousel.css";
@import "plugin/mediaelementplayer.css";
@import "plugin/colorbox.css";
@import "plugin/jquery.fs.tipper.css";

// mazel styles, need to refactor
@import "style.css";
@import "navigation.less";

// Bootstrap components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";
@import "datetimepicker/bootstrap-datetimepicker.less";
@import "less/font-awesome.less";
@import "ionicons.css";

.inset {
    margin-left: 15px;
}

.field-display {
    display: block;
    margin-bottom: 6px;
}

#activities-modal .modal-content{
    position: absolute;
    margin-top:56px;
    overflow:scroll;
    max-height:700px; }

// ------------------------------
// Form Styles
// These styles should override,
// as much as possible, the Bootstrap
// form styles
// ------------------------------

form .required label {
    font-weight: bold;
}
span.required-demo,
form .required label:after {
    color: #e32;
    content: " \2a";
    font-family: 'Glyphicons Halflings';
    display: inline;
    font-size: 80%;
    font-weight: normal;
}
.warning { //for system error messages that get classes switched to warning on reg pages
    color: #e32;
    font-size: 1.3em;
}
.submit-button, .cancel-button {
    padding: 12px;
    display: inline-block;
    width: auto;
    margin: 20px 8px;
}
/************************************ from mazel */

img {
    border: none;
    outline: none;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

a, a:focus, a:active, a:link, img {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

    a:hover {
        text-decoration: none;
        transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }


/************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:#323232;
}
h1,
.h1 {
    display:block;
    position:relative;
    margin-top:80px;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-align:center;
    z-index:999;
    color:@brand-primary;

        small {
            font-size:17px !important;
            font-style:italic;
            color:#000 !important;
            background-color:#fff;
            padding:8px 14px;
            letter-spacing: 1px;
            border-radius:3px;
        }
    }
#wrapper .inner-caption h1{ margin-top:0;}
h2, h2 > a,
.h2 {
  color: @brand-primary;
  margin-top:25px;
  margin-bottom:15px;
  text-transform: uppercase;
}
h1.h1, h2.h2 {
    letter-spacing: 10px;
}
h3,
.h3 {
  color: @brand-primary;
  margin-top:30px;
}
h5{margin-top:20px;}
h4.light { font-weight:normal;font-style:italic;color:@gray-light; }
.inner-caption h1{margin-bottom:10px !important;}
h4.h4slide{margin-top:0;}
h2 + h3{
    margin-top:0;
}
h3 + p{
    margin-top:0;
}
table {
    margin:0 0 10px;
}
label {
    font-weight: bold;
}
p + ul, p + ol{margin-top:-.6em;} //removes space between a paragraph and a list
blockquote {  border-left: none;font-size:@font-size-base; } // removes left border on blockquotes
html, body, form {
    margin: 0;
    padding: 0;
    height: 100%;
}
.bootstrap-datetimepicker-widget { //allows changing the nav dropdown background without changing calendar background
    background-color:#fff !important;
    }
.pad-both {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pad-top {
    padding-top: 40px;
}
.pad-bottom {
    padding-bottom: 40px;
}
.no-padding {
    padding: 0 !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.btn, button {
    font-size: 12px;
    line-height: normal;
    font-weight:bold;
    font-family: Arial,  helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top:20px;
    padding:10px 20px !important;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border:none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    vertical-align: top;

    &:focus {
    outline: none;}

}
.btn-menu{
    margin-top:0;
    text-align:left;
    font-weight:normal !important;
    color:#fff;
    background-color:transparent;
    border:none;
    border-radius:0;
    &:hover{
        color:#fff;
        background-color:@brand-tertiary;
    }
}
.btn-outline {
    color: #fff;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    border:1px solid #fff !important;
    padding: 9px 20px;
    &:hover {
        background: #fff;
        background: rgba(255, 255, 255, 1);
    }
}
.btn-space-5 {
    width: 5px;
    min-height: 1px;
    display: inline-block;
}
.btn-space-10 {
    width: 10px;
    min-height: 1px;
    display: inline-block;
}

body {
    #modalItinerary {
        top:10%;
        overflow-y:hidden;
        z-index:9999;
        .modal-content{
            margin:0;
            padding:10px 0 30px 0;
            clear:both;
            overflow:hidden;
            input{
                margin-top:20px;
                padding:2px 12px;
                height:34px;
                width:100%;
                color:#999;
            }
        }
    }

    #wrapper {
        position: relative;
        min-height: 100%;
        height: auto;
        /* Negative indent footer by its height */
        margin: 0 auto -(@footer-height);
        /* Pad bottom by footer height */
        padding: 0 0 (@footer-height);

        /****************************************different banner for home page and reg pages*/
	    #banner-home {display:none;}
        #banner-site {
            display:block;
            .flexslider .slides > li {display:block;}
        }
        #banner-register {display:none;}
        /*************************************************************************************/
        .row-light, .row-dark{
            margin:20px 0;
            padding:12px 12px 20px 12px;
            clear:both;
            overflow:hidden;
        }
        .row-dark{
            background-color:@gray-lighter;
            color:#555 !important;
            .table td { border-color:#ccc; }
        }
        .spacer {
            display: block;
            height: 40px;
            width: 100%;
        }
        .subsection {
            display: block;
            background: lighten(#000, 80%);
            border-radius: @border-radius-base;
            text-transform:capitalize;
            padding: @padding-base-vertical @padding-base-horizontal;
            margin-bottom:12px;
        }
        #submitDisplay {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: @gray-lighter;
            text-align: center;
            padding: 10px 0;
            z-index: 2000;
            box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2);
        }
        .radio-list {
            label {
                font-weight: normal;
            }

            input {
                margin-right: 5px;
            }
        }
        .section-toggle {
            cursor: pointer;
            -ms-user-select: none; /* IE 10+ */
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .group-buttons {
            display: none;
        }
        button.alternative {
            span {
                padding: 0 5px;
            }
        }
        .main-content {
            display: block;
            position: relative;
            margin: 0 auto;
            min-height: 250px;
            .row-light {
                margin-left:0;
                margin-right:0;
                padding:0 12px;
                clear:both;
                overflow:hidden;
            }
           .intro{
                  text-align:center;
                  font-size:16px;
                  margin:8px auto;
                  max-width:800px;
           }
           .table th{
               border-top:none !important;
           }

          #itinerary{
              background-color: @brand-primary;
              margin:0;
              padding:10px 0 30px 0;
              clear:both;
              overflow:hidden;
              h3{
                color:#fff !important;
              }
               input{
                   background-color:#363636;
                   margin-top:20px;
                   padding:2px 12px;
                   height:34px;
                   width:100%;
                   border:1px solid #363636;
                   color:#fff;
               }
           }
           #introduction{padding:40px 20px 30px 20px;}
           #vacation {
               background:@brand-info url(../images/gallery/vacation-bg.jpg) no-repeat center center;
               background-size:cover;
               padding:40px 20px 30px 20px;
               text-align:center;
               color:#fff;
               h2{color:#fff;}
           }
           #info-links {
                padding:40px 20px 30px 20px;
                h3 {
                    padding-top:6px;
                    padding-left:46px;
                    min-height:120px;
                    &.icon1{background: url(../images/gallery/icon-flight-sm.jpg) no-repeat;}
                    &.icon2{background: url(../images/gallery/icon-travel-sm.jpg) no-repeat;}
                    &.icon3{background: url(../images/gallery/icon-international-sm.jpg) no-repeat;}
                 }
                .icon-content{
                    margin-top:-80px;
                    padding-left:50px;
                }
                ul {padding-left:16px;}
            }
           #giftcards {
                background:@brand-tertiary url(../images/gallery/giftcards-bg.jpg) no-repeat center center;
                background-size:cover;
                padding:40px 20px 30px 20px;
                margin-bottom:0;
                text-align:center;
                h2 {
                    margin:20px 0;
                    color:#fff;
                    text-align:center;
                }
                p {
                    color:#fff;
                    text-align:center; }
                a {color:#fff;}
            }
           div#profile-information {
               max-width:1120px !important;
               margin:0 auto;
               padding-left:25px;
               padding-right:25px;
           }
           .highlight {
                font-weight: bold;
                color: @brand-danger;
            }
           .embed-responsive {
                position: relative;
                display: block;
                height: 0;
                padding: 0;
                overflow: hidden;
                .embed-responsive-item,
                iframe,
                embed,
                object {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    border: 0;
                }
                &.embed-responsive-16by9 {
                    padding-bottom: 56.25%;
                }

                &.embed-responsive-4by3 {
                    padding-bottom: 75%;
                }
            }
        }
    }
    footer {
        &.main-footer {
            height: auto;
            min-height:180px;
            position: relative;
            background-color: @brand-primary;
            font-size: .9em;
            padding: 30px 20px 8px 20px;
            margin: 0 auto;
            color: @gray-light;
            overflow: hidden;

            #links1 ul, #links2 ul { margin-left:-40px; }
            h4 { color:@brand-tertiary; }
            ul { list-style:none; }
            a {
                color:@gray-light;
                text-decoration: none;
                &.email { color:@brand-tertiary; }
                &:visited {
                    color: @gray-light;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    footer#footer-copyright {
        background-color:#1e1e1e;
        text-align:center;
        color:@gray;
        font-size:.9em;
        line-height:3em;
        padding-top:10px;
    }
    .submit-button, .cancel-button {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }
}
// append utilities

@media (max-width: @screen-xs-max) {
    .append-bottom-sm,
    .append-bottom-md,
    .append-bottom-lg {
      padding-bottom: 0;
    }
    .append-bottom-xs {
        padding-bottom: 10px;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .append-bottom-xs,
    .append-bottom-md,
    .append-bottom-lg {
      padding-bottom: 0;
    }
    .append-bottom-sm {
        padding-bottom: 10px;
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .append-bottom-xs,
    .append-bottom-sm,
    .append-bottom-lg {
      padding-bottom: 0;
    }
    .append-bottom-md {
        padding-bottom: 10px;
    }
}
@media (min-width: @screen-lg-min) {
    .append-bottom-xs,
    .append-bottom-sm,
    .append-bottom-md {
      padding-bottom: 0;
    }
    .append-bottom-lg {
        padding-bottom: 10px;
    }
}

// Small grid (tablets)
//----------------------------------
@media (min-width: @screen-sm-min) {
    body {
        #wrapper {
            //background-color:#cee !important;
            h1,
            .h1 {
                margin-top:-20%;
                margin-bottom:14%;
                letter-spacing: 10px;
                color:#fff;
                    small {
                        font-size:14px !important;
                        padding:4px 6px;
                        letter-spacing: 2px;
                    }
                }
            .main-content{
            .single-col-text{ max-width:800px;margin:0 auto 20px auto;padding:10px; }
            #introduction, #vacation, #info-links, #giftcards{padding:40px 0 30px 0;}
            .submit-button, .cancel-button {
                padding: 6px 12px;
                display: inline-block;
                width: auto;
                margin-bottom: 0;
            }
        }}
    }
}

// Medium grid (desktop)
//----------------------------------
@media (min-width: @screen-md-min) {

    .navigation #menu-button {
        display: none;
    }
    body {
        #wrapper {
            //background-color:#eec !important;
            h1,
            .h1 {
                margin-top:-18%;
                margin-bottom:14%;
                    small {
                        font-size:16px !important;
                        padding:4px 6px;
                        letter-spacing: 3px;
                    }
                }
            .inner-caption h1{margin-bottom:20px !important;}
            .submit-button, .cancel-button {
                display: inline-block;
                width: auto;
                float: right;
                padding-left: 8px;
                padding-right: 8px;
                margin: 4px 4px 10px 4px;
            }

        }
        footer {
            &.main-footer {
                .container{
                    max-width:90%;
                    #links1 ul, #links2 ul { margin-left:0px; }
                }
            }
        }
    }
}

// Large grid (widescreen)
//----------------------------------
@media (min-width: @screen-lg-min) {
    body #wrapper {
        //background-color:#eee !important;
        h1,
        .h1 {
            margin-top:-18%;
            margin-bottom:14%;
            }
    }
}

// Extra small (phones)
//----------------------------------
@media (max-width: @screen-xs-max) {
    body #wrapper {

        h1,.h1 { font-size:28px;}
        h2,.h2 { font-size:24px;}
        h3,.h3 { font-size:16px;}
        h4,.h4 { font-size:14px;}
    }
}
